extends layout

block content
  h1 #{name}
  hr
  .row
    .col-sm-12
      h2
        i.fa.fa-map-marker
        |ADDRESS
      - var n = 0
      - var length = addresses.length
      while n < length
        .col-sm-6
          p.lead #{addresses[n++]}
          p 
    .col-sm-12
      h2
        i.fa.fa-phone
        |CONTACT
      - var n = 0
      - var length = contacts.length
      while n < length
        .col-sm-6
          p.lead #{contacts[n++]}
          p 
    .col-sm-12
      h2
        i.fa.fa-file-text-o
        |COMPANY SUMMARY
      .col-sm-12
        p.lead #{summary} 
        p.lead #{summaryDetails}
        p
